h1 {
  color: #27aedb;
  text-align: center;
}

button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.app {
  text-align: center;
  padding: 20px;
}

input {
  margin: 10px;
  padding: 5px;
}
